a{
  color: black;
}
.box{
  position: relative;
  overflow: hidden;
}
.box img{
  width: 100%;
}
.icon-list{
  position: absolute;
  width: 100%;
  top: -50%;
  transition: all 0.5s ease;
}

.box:hover .icon-list{
  top:180px;
}
.icon-list li{
  list-style: none;
  display: inline-block;
  margin: 5px;
  padding: 10px 12px;
  border-radius: 50%;
  background-color: white;
  transition:  .5s ;
  cursor: pointer;
 
}


.icon-list li:hover a{
  color: white;
}
 .icon-list li:hover{
  background-color: #93b621;
  transform: rotate(360deg);
 
 }


