.slick-arrow.slick-prev,.slick-arrow.slick-next{
   
    width: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0px -20px;
    border:1px solid #ebebeb;
}
.slick-prev::before,.slick-next::before{
    display: none;
}